/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap");

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #1e1e1e;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #1e1e1e;
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

a {
  color: #222222;
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}
/* Navbar Awal */
.navbar {
  background-color: #fafafa;
  opacity: 1;
}
.navbar-brand {
  width: 159px;
  height: 59px;
  align-item: center;
  background-image: url("../images/Logo-Kode-light.webp");
}
.icon-mode {
  width: 24px;
  height: 24px;
  margin-left: 25px;
  align-item: center;
  background-image: url("../images/icon-light.webp");
}

.navbar-nav li a {
  position: relative;
  color: #1e1e1e;
  margin-left: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-nav li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #ff6600;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.navbar-nav li a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navbar-nav li a:hover {
  color: #ff6600;
}
.navbar-nav li a:focus {
  color: #ff6600;
}
.navbar-nav li a:active {
  color: #ff6600;
}
.navbar-nav li a:target {
  color: #ff6600;
}

/* Navbar Akhir */

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.form-control:focus {
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.navbar-form input {
  border: none !important;
}

.badge {
  font-weight: 500;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.full {
  float: left;
  width: 100%;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding_2 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.light_silver {
  background: #f9f9f9;
}

.theme_bg {
  background: #38c8a8;
}

.margin_top_30 {
  margin-top: 30px !important;
}

.full {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
/**-- heading section --**/

/*---------------------------- preloader area ----------------------------*/

.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 280px;
}

ul.btn {
  float: right;
}

ul.btn li {
  display: inline-block;
  padding: 0 25px;
}

ul.btn li a {
  color: #fff;
  font-size: 16px;
}

ul.btn li:last-child {
  padding-right: 0;
}

.down_btn {
  padding-left: 50px;
}

.down_btn a {
  background-color: #fff;
  display: inline-block;
  padding: 7px 35px;
  border-radius: 10px;
  color: #010a05 !important;
  font-size: 17px;
}

.down_btn a:hover {
  color: #fff !important;
  background: #000;
}

/*-- header area --*/

/** banner section **/

.banner_main {
  background: #f4f4f4;
  padding: 75px 0 90px 0;
}

.text-bg {
  text-align: left;
  float: right;
  width: 100%;
  max-width: 431px;
}

.text-bg h1 {
  color: #ff6600;
  font-size: 56px;
  padding-bottom: 25px;
  font-weight: bold;
  line-height: 50px;
}

.text-bg h5 {
  color: #1e1e1e;
  padding-top: 100px;
  font-size: 32px;
  font-weight: bold;
}

.text-bg p {
  font-size: 30px;
  color: #1e1e1e;
  padding-bottom: 50px;
  line-height: 30px;
}

.text-bg .read_more {
  border: #solid 5px;
}

.text-bg .read_more:hover {
  background: #000000;
}
.read_more {
  font-size: 17px;
  border: #000000 solid 5px;
  color: #1e1e1e;
  padding: 13px 0px;
  width: 100%;
  max-width: 210px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
  border-radius: 10px;
  font-weight: 700;
}

.read_more:hover {
  background: #ffffff;
  color: #fff;
  transition: ease-in all 0.5s;
}
.images_box figure {
  margin: 0px;
}

.images_box figure img {
  width: 85%;
}

.carousel-indicators li {
  background: #000;
  width: 38px;
  height: 8px;
  border-radius: 10px;
}

.carousel-indicators {
  bottom: 45px;
}

.carousel-caption {
  position: inherit;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

/** banner section **/

.titlepage {
  text-align: center;
  padding-bottom: 60px;
}

.titlepage h2 {
  font-size: 50px;
  color: #382d3c;
  line-height: 55px;
  padding: 0;
}

.d_flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.blu {
  color: #0eadef;
}

/** about section **/

.about {
  background: #fafafa;
}
.about-2 {
  align-item: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
.about .titlepage {
  text-align: left;
  padding: 0;
  width: 100%;
  float: left;
}
.about .titlepage h2 {
  margin-bottom: 40px;
  color: #ff6600;
}
.about .titlepage p {
  color: #1e1e1e;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  font-weight: 500;
  padding-bottom: 50px;
}
.about_img figure {
  margin: 0;
}
.about_img figure img {
  width: 90%;
}
.flex-about {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  float: left;
}
.flex-abouts:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.flex-abouts:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.judul-abouts {
  padding: 10px;
  text-align: center;
}
.judul-abouts h2 {
  font-weight: bold;
  font-size: 24px;
  color: #1e1e1e;
  padding-right: 10px;
}
.judul-abouts h4 {
  font-size: 32px;
  font-weight: 500;
  color: #1e1e1e;
}
/** end about section **/

/** choose  section **/

.blu {
  color: #1e1e1e;
  font-weight: bold;
}

.pg {
  display: none;
}
.choose .titlepage-ch h2 {
  color: #ff6600;
  font-size: 24px;
  font-weight: bold;
  padding: 100px 0px 0px 0px;
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: center;
}
.choose .titlepage-ch h6 {
  color: #1e1e1e;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
  justify-content: center;
}
.con {
  background-color: #f4f4f4;
  width: 100%;
}

.choose_bg {
  background-color: #f4f4f4;
  padding: 50px 0;
}

.choose .choose_box {
  background: #ffffff;
  padding: 35px 35px;
  text-align: center;
  height: auto;
  border-radius: 10px;
}

.choose .choose_box span {
  color: #141629;
  display: block;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.choose .choose_box h3 {
  color: #1e1e1e;
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 15px;
}

.choose .choose_box p {
  color: #1e1e1e;
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
}

.choose .choose_box .web-dev:active {
  display: block;
}

.padding_right0 {
  padding-right: 0;
}

.padding_left0 {
  padding-left: 0;
}

ul.easy li a {
  font-size: 27px;
  padding: 18px 21px;
  width: 100%;
  color: #1e1e1e;
  line-height: 36px;
  margin: 0 20px 35px 0;
  display: block;
  border-radius: 10px;
}

ul.easy li:last-child a {
  margin-bottom: 0;
}

ul.easy li.active a {
  background: #060505;
  color: #fff;
}

ul.easy li a:hover {
  background: #060505;
  color: #fff;
  border-radius: 10px;
}
ul.easy li a:focus {
  background: #060505;
  color: #fff;
  border-radius: 10px;
}
ul.easy li a:target {
  background: #060505;
  color: #fff;
  border-radius: 10px;
}

/** end choose  section **/

/** work section **/

.work {
  background: #fafafa;
  padding: 50px;
}
.works {
  padding-top: 50px;
  padding-bottom: 10px;
}
.judul-work h2 {
  font-size: 38px;
  font-weight: bold;
}
.card img {
  width: 100%;
}
.img-hover-zoom {
  overflow: hidden;
}
.img-hover-zoom img {
  transition: transform 0.5s ease;
}
.img-hover-zoom:hover img {
  transform: scale(1.5);
}
/** end work section **/

/* Client */

#clients {
  background-color: #f4f4f4;
  height: 700px;
}
.client {
  padding-top: 100px;
  padding-bottom: 30px;
}
.judul-client h2 {
  font-size: 38px;
  font-weight: bold;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: normal;
  align-content: center;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
  padding: 50px;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
  padding: 50px;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  order: 0;
  padding: 50px;
}

/* end Client */

/** request section **/

.request {
  background: #ffffff;
  padding: 90px 0px;
}

.request .titlepage {
  text-align: left;
}

.white {
  color: #ff6600;
}

.main_form .contactus {
  border-radius: 35px;
  padding: 0px 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 60px;
  background: #1e1e1e;
  color: #fafafa;
  font-size: 18px;
  font-weight: normal;
  border: inherit;
}

.main_form .textarea {
  padding: 8px 30px;
  padding-top: 63px;
  margin-bottom: 30px;
  width: 100%;
  background: #1e1e1e;
  color: #f4f4f4;
  font-size: 18px;
  font-weight: normal;
  border: inherit;
  border-radius: 20px;
}

.main_form .send_btn {
  font-size: 17px;
  transition: ease-in all 0.5s;
  background-color: #1e1e1e;
  color: #f4f4f4;
  padding: 13px 0px;
  max-width: 200px;
  width: 100%;
  display: block;
  border-radius: 30px;
  margin: 0 auto;
}

.main_form .send_btn:hover {
  background-color: #ff6600;
  transition: ease-in all 0.5s;
  color: #fff;
}

#request *::placeholder {
  color: #f4f4f4;
  opacity: 1;
}

#map {
  overflow: hidden;
  padding-bottom: 22.25%;
  position: relative;
}

/** end request section **/

/** footer **/

.footer {
  background: #ff6600;
  padding-top: 85px;
  text-align: center;
}

.footer .titlepage {
  text-align: left;
  padding-bottom: 0px;
}

.footer .titlepage h2 {
  color: #fff;
}

.footer .address h3 {
  color: #1e1e1e;
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  padding-bottom: 10px;
  text-align: left;
}

ul.location_icon li {
  font-size: 17px;
  text-align: left;
  padding-right: 40px;
  padding-bottom: 15px;
}

ul.Menu_footer li {
  display: block;
  color: #3e7f21;
  position: relative;
}

ul.Menu_footer li:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background: #fff;
  margin-top: 9px;
  left: 0;
}
ul.Menu_footer li a {
  display: block;
  color: #fcfbfb;
  font-size: 17px;
  padding-left: 30px;
  text-align: left;
}
ul.Menu_footer li a:hover {
  color: #1e1e1e;
}
ul.social_icon li a img {
  width: 24px;
}
ul.social_icon li a {
  font-size: 18px;
  color: #fff;
  display: inherit;
}
ul.social_icon li a i {
  background: #fff;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 30px;
  color: #000;
  margin-top: -33px;
}

ul.social_icon li a img:hover {
  color: #ff6600;
}
ul.social_icon li a span:hover {
  color: #ff6600;
}

.bottom_form h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: left;
  color: #fff;
  padding-bottom: 15px;
}

.bottom_form .enter {
  border: inherit;
  padding: 0px 19px;
  width: 100%;
  height: 53px;
  background: #fff;
  color: #828282;
  font-size: 17px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.sub_btn {
  font-size: 19px;
  transition: ease-in all 0.5s;
  background-color: #1e1e1e;
  color: #fff;
  padding: 11px 0px;
  max-width: 175px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  border-radius: 10px;
  border: inherit;
  box-shadow: inherit;
  font-weight: 500;
}

.sub_btn:hover {
  background-color: #ffffff;
  transition: ease-in all 0.5s;
  color: #1e1e1e;
  font-weight: 500;
}

.copyright {
  margin-top: 85px;
  padding: 25px 0;
  background: #f4f4f4;
}

.copyright p {
  color: #1e1e1e;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  font-weight: 600;
}

.kode {
  color: #ff6600;
  font-weight: bold;
}

/** end footer **/
